RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ 404.php [L]

ErrorDocument 404 /final_project/project-f/project-f/project-f/sem5-project/404.php
ErrorDocument 500 /final_project/project-f/project-f/project-f/sem5-project/404.php
ErrorDocument 403 /final_project/project-f/project-f/project-f/sem5-project/sem5-project/404.php
